.app-container {
  display: flex;
  width: 500px;
  height: 800px;
  flex-direction: column;
  background-color: lightgray;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: solid 2px white;
}
